[Desktop Entry]
Name=Dexed
Comment=FM Synthesizer
Exec=/home/marcel/System/applications/Dexed
Icon=Music;Synth
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
